#root,
.ant-layout.basic,
.page {
  height: 100%;
  width: 100%;
}

.jsoneditor {
  border: none;
}

.page {
  padding: 10px;
}

.page.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 800;
}

.page.schema.new,
.page.schema.single {
  display: grid;
  grid-template-rows: 30px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'd b'
    'a b'
    'c b';
  grid-gap: 8px;
  box-sizing: border-box;

  > .editor {
    grid-area: a;
  }

  > .form {
    grid-area: b;
  }

  > .preview {
    grid-area: c;
  }

  > .extra {
    grid-area: d;
  }

  > div {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
}

.page.all,
.page.document {
  > button {
    margin-bottom: 5px;
  }
}

.ant-row {
  margin-bottom: 5px;
}

.ant-card-head-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.ant-card-body {
  padding: 5px;
}

.ant-list-item {
  gap: 5px;

  > .serial {
    width: 20px;
    font-weight: 600;

    &:after {
      content: '.';
    }
  }

  .ant-input,
  .ant-select {
    flex: 1 1 10rem;
  }
}
